Repository kubernetes-sigs/usage-metrics-collector, pull requests merged in 2023-03, with the labels that each got.

#37 Collector funcs
  pkg/collector/capacity_test.go
  pkg/collector/collector.go
  pkg/collector/testdata/collector/collector-funcs/expected.txt
  pkg/collector/testdata/collector/collector-funcs/input_client_objects.yaml
  pkg/collector/testdata/collector/collector-funcs/input_collector_spec.yaml
  pkg/collector/testdata/collector/collector-funcs/input_env.yaml
  pkg/collector/testdata/collector/collector-funcs/input_ignore_metric_names.txt
  pkg/collector/types.go
Labels: ok-to-test, approved, cncf-cla: yes, size/XL, needs-triage, lgtm

#38 Export necessary identifiers for external collection
  pkg/collector/capacity_test.go
  pkg/collector/collector.go
  pkg/collector/labels.go
  pkg/collector/local.go
  pkg/collector/metric.go
  pkg/collector/operations.go
  pkg/collector/types.go
  pkg/collector/values.go
Labels: size/L, ok-to-test, approved, cncf-cla: yes, needs-triage, lgtm

#39 Support filtering metrics
  pkg/api/collectorcontrollerv1alpha1/types.go
  pkg/collector/operations.go
  pkg/collector/testdata/collector/containers-filter-exclude/expected.txt
  pkg/collector/testdata/collector/containers-filter-exclude/input_client_objects.yaml
  pkg/collector/testdata/collector/containers-filter-exclude/input_collector_spec.yaml
  pkg/collector/testdata/collector/containers-filter-exclude/input_ignore_metric_names.txt
  pkg/collector/testdata/collector/containers-filter-exclude/input_usage.yaml
  pkg/collector/testdata/collector/containers-filter-include/expected.txt
  pkg/collector/testdata/collector/containers-filter-include/input_client_objects.yaml
  pkg/collector/testdata/collector/containers-filter-include/input_collector_spec.yaml
  pkg/collector/testdata/collector/containers-filter-include/input_ignore_metric_names.txt
  pkg/collector/testdata/collector/containers-filter-include/input_usage.yaml
  pkg/collector/types.go
Labels: approved, cncf-cla: yes, size/XL, needs-triage
